.popular-items .single-popular-items .popular-img {
  overflow: hidden;
  margin-top: 20px;
  margin-right: 28px;
  margin-left: 28px;
  margin-bottom: 19px;
  position: relative;
}

.popular-items .single-popular-items .popular-img img {
  width: 100%;
}
.popular-items .single-popular-items .popular-img .img-cap {
  position: absolute;
  bottom: -20%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.popular-items .single-popular-items .popular-img .img-cap span {
  color: #fff;
  background: rgba(29, 37, 71, 0.5);
  padding: 20px 0;
  display: block;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-items .single-popular-items .popular-caption h3 a {
  color: #444;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
.popular-items .single-popular-items .popular-caption span {
  color: #444;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.popular-items .nav-tabs {
  margin-bottom: 15px;
  padding-bottom: 0px;
  position: relative;
  border: 0;
  display: flex;
  justify-content: center;
}
.popular-items .nav-tabs .nav-link {
  border: 0;
  border-bottom: 2px solid transparent;
}
.popular-items .nav-tabs .nav-item {
  padding-bottom: 10px;
  display: block;
  color: #1b1b1b;
  text-transform: capitalize;
  font-size: 16px;
}
.popular-items .nav-tabs .nav-item.show .nav-link,
.popular-items .nav-tabs .nav-link.active {
  background: none;
  border-bottom: 2px solid #ff5757;
  z-index: 5;
  position: relative;
}
.popular-items .nice-select {
  background-color: #f2f2f2;
  border-radius: 30px;
  border: none;
  color: #333;
  height: 31px;
  line-height: 31px;
  padding-right: 47px;
}
.popular-items .nice-select::after {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  height: 7px;
  width: 7px;
  margin-top: -4px;
  right: 17px;
}
.popular-items .nice-select .option:hover,
.popular-items .nice-select .nice-select .option.focus,
.popular-items .nice-select .nice-select .option.selected.focus {
  background-color:pink;
}
.popular-items .nice-select .list {
  background-color: #fff;
  border-radius: 0;
  width: 100%;
}
.single-popular-items:hover .popular-img .img-cap {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
